.nav {
  display: flex;
  width: 99%;
  background-color: $primary-color;
  align-items: center;
  box-shadow: $box-shadow;
  padding: $spacing-tiny;
  gap: $spacing-small;
  .logo {
    margin: 0;
    @include screen-size("sm") {
      display: none;
    }
    img {
      height: 50px;
    }
  }
  .search {
    width: 95%;
    position: relative;
    input {
      width: 95%;
      padding: $spacing-tiny;
      border: none;
      border-radius: $rounded-tiny;
      font-size: 1.2em;
    }
  }
}
