$primary-color: #ff006a;
$secondary-color: #0099ff;
// spacing
$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-medium: 32px;
$spacing-large: 64px;
$spacing-x-large: 128px;
//border radius
$rounded-tiny: 4px;
$rounded-small: 8px;
$rounded-medium: 16px;
// box shadow
$box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.32);